<p>Are you sure you'd like to cancel this Entire Order? Everyone's individual order's will be lost, so make sure you can live with that.</p>
<form action="/order/<%= @order.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="delete">
  <input class="button" type="submit" value="CANCEL HAPPINESS">
</form>
