<div class="center_page">
  <p>Are you sure you'd like to cancel this Entire Order? Everyone's individual order's will be lost, so make sure you can live with that.</p>
  <div class="edit_screen_buttons">
    <%= link_to order_path(@order) do %>
      <div class="blue_button blue_link">
        <p>Nevermind</p>
      </div>
    <% end %>

    <%= link_to @order, method: :delete, class: "delete" do %>
      <div class="orange_button orange_link">
        <p>Cancel Order</p>
      </div>
    <% end %>
  </div>

</div>
