<header>
  <h1><a class="no_underline" href="/">DeliverWe</a></h1>
</header>

<h1>Are You Sure You'd Like to Create a New Order from <%= @restaurant.name %>?</h1>

<form action="/<%= @restaurant.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="hidden" name="order[restaurant_id]" value="<%= @restaurant.id %>">

  <br>
  <br>

  <input type="submit" value="CREATE">

</form>
