/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background-color: white;
}

body {
  width: 1000px;
  border: 10px solid grey;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  background: beige;
}

header {
  text-align: center;
  font-size: 30px;
  border: 1px solid black;
  margin: -25px;
  margin-bottom: 0px;
  color: white;
  background: black;
}

.logo {
  height: 100px;
  width: 100px;
  margin-top: -20px;
  border: 1px solid black;
  border-bottom: 5px solid black;
  background: white;
}

.restaurant_box {
  border: 5px solid grey;
  width: 280px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: white;
}

.order_box {
  border: 5px solid grey;
  width: 280px;
  height: 300px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: white;
}

.patron_box {
  width: 225px;
  height: 75px;
  margin-left: 25px;
  border: 1px solid black;
  overflow-y: scroll;
  padding-left: 10px;
  background-color: beige;
  padding-top: 5px;
  padding-bottom: 5px;
}

.item_box {
  width: 300px;
  padding-top: 15px;
  padding-right: 10px;
  margin-left: 30px;

}

.restaurant_box, .order_box {
  padding: 10px;
}

.restaurant_name {
  font-size: 25px;
}

.head_patron_label {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: -10px;
  padding-left: 5px;
}

.head_patron {
  text-align: right;
  padding-right: 10px;
}

.item {
  padding-left: 30px;
  margin-top: -10px;
  margin-bottom: -20px;
}

.price {
  margin-top: -10px;
  text-align: right;
}

.restaurant_section {
  padding: 10px;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.patron_line {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.box_header {
  display: flex;
  margin-left: -10px;
  margin-top: -6px;
}

.box_header_right {
  display: flex;
  flex-direction: column;
}

.box_title {
  font-size: 24px;
  margin-bottom: -10px;
  margin-top: -4px;
  padding-left: 5px;
  background: rgba(0,0,128,1);
  height: 40px;
  text-align: center;
  padding-top: 10px;
  color: white;
  text-decoration: none;
  width: 193px;
}

.box_title:hover {
  background-color: rgba(0,0,128,.5)
}

.head_patron_box {
  background-color: grey;
  height: 59px;
  border-top: 2px solid black;
  border-bottom: 5px solid black;
  width: 198px;
}

.page_break {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  margin-left: -25px;
  margin-right: -25px;
}

.restaurant_header_right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,128,1);
  width: 198px;
  margin-top: -4px;
  margin-right: -20px;
  height: 101px;
  border-bottom: 5px solid black;
  color: white;
  text-decoration: none;
}

.restaurant_header_right:hover {
  background-color: rgba(0,0,128,.5);
}

.modifications {
  padding-left: 60px;
  margin-top: -10px;
  margin-bottom: -20px;
}

.red {
  color: red;
  font-weight: bold;
}

.fee {
  padding-left: 30px;
  margin-top: 0px;
  margin-bottom: -20px;
}

.no_underline {
  text-decoration: none;
  color: white;
}

.note_box {
  border: 5px solid green;
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.join_order {
  margin-top: -10px;
}

.index_note {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 275px;
  height: 50px;
  margin-top: -5px;
  flex-wrap: wrap;
  border: 1px solid black;
}

.note_input {
  width: 275px;
  height: 50px;
}

.restaurant_bottom_box {
  margin-top: -10px;
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  height: 100px;
}

.restaurant_quadrant {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: 48px;
  width: 138px;
  background-color: rgba(201,156,110,1);
  color: black;
  font-weight: bold;
}

a .restaurant_quadrant {
  background-color: rgba(156,201,110,1);
}

a .restaurant_quadrant:hover {
  background-color: rgba(102,51,153,.8);
}

.second_header {
  height: 250px;
  display: flex;
  border-bottom: 1px solid black;
  margin-left: -25px;
  margin-right: -25px;
}

.second_header_right {
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,128,1);
  color: white;
}

.second_header_bottom_right{
  display: flex;
}

.second_header_bottom_right_two {
  display: flex;
  border-top: 1px solid black;
}

.restaurant_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 50px;
  width: 100% - 25px;
  height: 125px;
  border-bottom: 1px solid black;
  margin: 0px;
  padding-left: 50px;
}


.second_header_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 61.5px;
  width: 100px;
  background-color: rgba(201,156,110,1);
  text-decoration: none;
  font-weight: bold;
}

.border_right {
  border-right: 1px solid black;
}

.second_header_logo {
  width: 250px;
  height: 250px;
  border-right: 1px solid black;
}

.center {
  text-align: center;
}

a .second_header_box {
  background-color: green;
}

a .second_header_box:hover {
  background-color: rgba(102,51,153,.8);
}

a .second_header_box {
  color: white;
  text-decoration: none;
}

.notice {
  text-align: center;
  color: white;
  background-color: rgba(0, 255, 0, 1);
}

.alert {
  text-align: center;
  color: white;
  background-color: rgba(255, 0, 0, 1);
}
