/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  height: 60px;
  width: 100%;
  font-size: 25px;
  color: white;
  background-color: rgba(255,140,0,1);
}

.content {
  padding-top: 60px;
}

.notice {
  text-align: center;
  color: black;
  background-color: rgba(0, 255, 0, 1);
  margin: 0px;
  font-size: 20px;
}

.alert {
  text-align: center;
  color: black;
  background-color: rgba(255, 0, 0, 1);
  margin: 0px;
  font-size: 20px;
}

a :hover {
  background-color: rgba(255,180,0,1);
}


.main_title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 400px;
}

.sign_up, .sign_in, .sign_out {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 20px;
}

.sign_out {
  width: 300px;
}

.sign_up, .sign_in {
  width: 150px;
  color: white;
}

.sign_up {
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.header_filler {
  flex-grow: 1;
}

.invisible {
  flex-grow: 1;
}

.index {
  display: flex;
}

.order_section {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  max-width: calc(100vw - 452px);
  height: calc(100vh - 80px);
  overflow-y: scroll;
}

.restaurant_section {
  width: 400px;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  border-left: 2px solid grey;
  background-color: rgba(120,211,249,.2);
}

.order_box {
  border: 1px solid black;
  border-radius: 20px;
  width: 400px;
  height: 200px;
  overflow: hidden;
  padding: 10px;
  margin-left: 10px;
}

.box_header {
  display: flex;
  border-bottom: 1px solid black;
  width: 420px;
  height: 100px;
  margin-left: -10px;
  margin-top: -10px;
}

.logo {
  height: 100px;
  width: 100px;
  background: white;
}

.box_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 100px;
  background-color: rgba(120,211,249,1);
  font-size: 32px;
}

.order_bottom {
  display: flex;
  width: 420px;
  height: 120px;
  margin-left: -10px;
  background-color: beige;
}

.order_buttons_section {
  width: 100px;
  height: 120px;
  background: grey;
}

.order_button {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
}

.patron_box {
  width: 290px;
  height: 120px;
  overflow-y: scroll;
  padding-left: 10px;
  background-color: beige;
  padding-top: 5px;
  padding-bottom: 5px;
}

.patron_line {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}


.restaurant_header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(120,211,249,1);
}

.restaurant_box {
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  display: flex;
  width: 430px;
  max-height: 100px;
  background-color: white;
  padding: 0px;
}

.restaurant_box_right {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 100px;
}

.restaurant_box_title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 330px;
  height: 50px;
  color: black;
  text-decoration: none;
  padding: 0px;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  background-color: rgba(255,140,0,1);
}

.restaurant_box_bottom {
  display: flex;
  flex-wrap: wrap;
  width: 330px;
  height: 50px;
}

.restaurant_quadrant {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid grey;
  height: 50px;
  width: 81px;
  color: black;
  font-weight: bold;
  font-size: 12px;
}








.item_box {
  width: 300px;
  padding-top: 15px;
  padding-right: 10px;
  margin-left: 30px;
}

.restaurant_box, .order_box {
}

.head_patron_label {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: -10px;
  padding-left: 5px;
}

.head_patron {
  text-align: right;
  padding-right: 10px;
}

.item {
  padding-left: 30px;
  margin-top: -10px;
  margin-bottom: -20px;
}

.price {
  margin-top: -10px;
  text-align: right;
}


.head_patron_box {
  background-color: grey;
  height: 59px;
  border-top: 2px solid black;
  border-bottom: 5px solid black;
  width: 198px;
}


.restaurant_header_right:hover {
  background-color: rgba(0,0,128,.5);
}

.modifications {
  padding-left: 60px;
  margin-top: -10px;
  margin-bottom: -20px;
}

.red {
  color: red;
  font-weight: bold;
}

.fee {
  padding-left: 30px;
  margin-top: 0px;
  margin-bottom: -20px;
}

.no_underline {
  text-decoration: none;
  color: white;
}

.note_box {
  border: 5px solid green;
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.note_input {
  width: 275px;
  height: 50px;
}


.second_header {
  height: 250px;
  display: flex;
  border-bottom: 1px solid black;
  margin-left: -25px;
  margin-right: -25px;
}

.second_header_right {
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,128,1);
  color: white;
}

.second_header_bottom_right{
  display: flex;
}

.second_header_bottom_right_two {
  display: flex;
  border-top: 1px solid black;
}

.restaurant_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 50px;
  width: 100% - 25px;
  height: 125px;
  border-bottom: 1px solid black;
  margin: 0px;
  padding-left: 50px;
}


.second_header_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 61.5px;
  width: 100px;
  background-color: rgba(201,156,110,1);
  text-decoration: none;
  font-weight: bold;
}

.border_right {
  border-right: 1px solid black;
}

.second_header_logo {
  width: 250px;
  height: 250px;
  border-right: 1px solid black;
}

.center {
  text-align: center;
}

a .second_header_box {
  background-color: green;
}

a .second_header_box:hover {
  background-color: rgba(102,51,153,.8);
}

a .second_header_box {
  color: white;
  text-decoration: none;
}
